*{
    box-sizing: border-box;
}
a{
    cursor: pointer;
}
h1 {
    color: #FEFFFE;
}
h3 {
    color: #aaa;
    text-align: center;
}
body{
    color: #222;
}
img{
    max-width: 100%;
}
main{
    padding: 10px;
    max-width: 1100px;
    margin: 0 auto;
}
header{
    display:flex;
    justify-content:space-between;
    margin-top: 20px;
    margin-bottom: 50px;
    align-items: center;
}
header a{
    text-decoration:none;
    color: #FEFFFE;
    font-size: large;
}

header a:hover{
    color: #e43933;
}

header a.logo{
    padding: 5px 10px;
    color: #FEFFFE;
    background-color: #CA0A05;
    font-weight: 700;
    font-size: 1.5rem;
    transition: all linear .2s;
}

header a.logo:hover{
    color: #ffffff;
    background-color: #e43933;
}

header nav{
    display:flex;
    gap: 24px;
}

div.post{
    display: grid;
    grid-template-columns: 1fr;
    background-color: #1D2024;
    gap: 20px;
    margin-bottom: 30px;
    transition: all linear .3s;
    border-radius: 20px;
    overflow: hidden;
}

div.post:hover {
    background-color: #CA0A05;
}

div.post .image {
  max-height: 400px;
  overflow: hidden;
}

div.post .image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the full area */
}

@media screen and (min-width: 700px) {
    div.post{
        grid-template-columns: .9fr 1.1fr;
    }
}

div.post div.texts h2{
    color: #FEFFFE;
    margin:0;
    font-size: 2rem;
}
div.post div.texts a{
    text-decoration:none;
    color: inherit;
}
div.post p.info{
    margin:24px 0;
    color: #888;
    font-size:1rem;
    font-weight: bold;
    display: flex;
    gap: 10px;
}
div.post p.info a.author{
    color: #FEFFFE;
}
div.post p.summary{
    color: #FEFFFE;
    margin:10px 0;
    line-height: 1.8rem;
}


/* login and register styles */


form.login, form.register{
    max-width: 600px;
    margin: 0 auto;
    background-color: #1D2024;
    padding: 100px 50px;
    border-radius: 20px;
}


input{
    display: block;
    margin-bottom: 5px;
    width: 100%;
    padding: 5px 7px;
    border: none;
    border-radius: 5px;
    background-color: #1D2024;
    color: #FEFFFE;
}
button{
    cursor: pointer;
    width: 100%;
    display: block;
    background-color: #CA0A05;
    border:0;
    color: #FEFFFE;
    border-radius: 5px;
    padding: 7px 0;
    transition: all linear .3s;
}
button:hover {
    background-color: #e43933;
}

form.login h1, form.register h1{
    text-align: center;
}

.ql-editor {
    background-color: #1D2024;
}

.ql-toolbar.ql-snow {
    background: #1D2024;
}

.ql-toolbar.ql-snow svg a {
    color: #FEFFFE;
}
 

div.post-page div.image{
    max-height:500px;
    display: flex;
    overflow:hidden;
}
div.post-page div.image img{
    object-fit: cover;
    object-position: center center;
    width: 100%;
}
div.post-page a{
    color:#FEFFFE;
    text-decoration: underline;
}
div.post-page h1{
    color: #FEFFFE;
    text-align: center;
    margin: 10px 0 5px;
}
div.post-page time{
    text-align: center;
    display: block;
    font-size:1rem;
    color:#aaa;
    margin: 10px 0;
}
div.post-page div.author{
    color: #FEFFFE;
    text-align: center;
    margin-bottom: 20px;
    font-size: .9rem;
    font-weight: bold;
}
div.content p{
    color: #FEFFFE;
    line-height: 1.7rem;
    margin: 30px 0;
}

div.content a{
    color: #FEFFFE;
    line-height: 1.7rem;
    margin: 30px 0;
}
div.content li{
    margin-bottom: 10px;
}
div.edit-row{
    text-align: center;
    margin-bottom: 20px;
    gap: 20px;
}
div.post-page a.edit-btn {
    background-color: #333;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    padding:15px 30px;
    border-radius: 5px;
    text-decoration: none;
}

div.post-page .delete-btn {
    margin-left: 20px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    height: 54px;
    width: auto;
    background-color: #333;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    padding:15px 30px;
    border-radius: 5px;
    text-decoration: none;
}


.edit-btn svg,
.delete-btn svg {
  height: 20px;
  width: 20px;
  flex-shrink: 0;
}
